.nav {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1);
}

/* BUTTON */
.btns-link {
  background-color: var(--darkblue-04);
  color: #fff;
  transition: all 0.7s;
  border: none;
  border-radius: 10px;
  padding: 8px 1em;
  text-decoration: none;
}
