:root {
  /* Color Primary */
  --darkblue-05: #4B1979;
  --darkblue-04: #7126B5;
  --darkblue-03: #A06ECE;
  --darkblue-02: #D0B7E6;
  --darkblue-01: #E2D4F0;

  --limegreen-05: #AA9B87;
  --limegreen-04: #D4C2A8;
  --limegreen-03: #FFE9CA;
  --limegreen-02: #FFF0DC;
  --limegreen-01: #FFF8ED;

  /* Allert */
  --error: #FF0000;
  --warning: #F9CC00;
  --success: #73CA5C;

  /* Neutral */
  --Neutral--05: #151515;
  --Neutral--04: #3C3C3C;
  --Neutral--03: #8A8A8A;
  --Neutral--02: #D0D0D0;
  --Neutral--01: #FFFFFF;

  /* Shadow */
  --shadow-low: 0px 0px 4px rgba(0, 0, 0, 0.15);
  --shadow-high: 0px 0px 10px rgba(0, 0, 0, 0.15);

  /* font-weight */
  --font-light : 400;
  --font-regular : 500;
  --font-semi-bold: 600;
  --font-bold : 700;

  /* text-body-size */
  --body-font-10 : 10px;
  --body-font-12 : 12px;
  --body-font-14 : 14px;

  /* text-title-size */
  --title-font-16 : 16px;
  --title-font-18 : 18px;

  /* text-heading-size*/
  --heading-font-20 : 20px;
  --heading-font-24 : 24px;
}

body {
  margin: 0 auto;
  /* font-family: 'Poppins', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  font-family: 'Poppins', sans-serif;
  
}

/* code {
  font-family: 'Poppins', sans-serif;
} */



